name: Push to Production
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker build
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
          file: ./Dockerfile.prod
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/contesto:${{ github.sha }}
          

      - name: Deploy to Production
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          script: |
            IMAGE=${{ secrets.DOCKER_USERNAME }}/contesto:${{ github.sha }}
            PROJECT_DIR=/home/${{ secrets.SSH_USERNAME }}/contesto

            echo "${{secrets.ENV_FILE}}" > $PROJECT_DIR/.env

            cd $PROJECT_DIR

            if docker ps | grep -q contesto-blue; then
              ACTIVE=blue
              INACTIVE=green
              PORT=3000
            else
              ACTIVE=green
              INACTIVE=blue
              PORT=3001
            fi

            docker pull $IMAGE
            docker stop contesto-$INACTIVE || true
            docker run -d --name contesto-$INACTIVE \
              --env-file $PROJECT_DIR/.env \
              -p $PORT:3000 \
              $IMAGE

            docker stop contesto-$ACTIVE
            docker rm contesto-$ACTIVE